* {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .heading {
    font-size: 40px;
    background-color: #0b1521;
    color: #fff;
    height: 90px;
    line-height: 5rem;
  }
  
  .choice {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  img {
    height: 210px;
    width: 210px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
  }
  
  .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  
  #user-score,
  #comp-score {
    font-size: 4rem;
  }
  
  .msg-container {
    margin-top: 5rem;
  }
  
  #msg {
    height: 5rem;

    background-color:#0b1521 ;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }